/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,body,header,nav,h1,a,ul,li,strong,main,button,i,section,img,div,h2,p,form,fieldset,label,input,textarea,span,article,footer,time,small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent
}

body {
  background: #EAEBEE
}

div {
  /*margin: 1px;
  border: 1px solid;
  border-color: black;*/
}


/*input[type="password"], input[type="text"] {
  display: block;
  margin: 2px;
  background: white;
  color: black;
  padding: 4px 5px;
  margin-bottom: 10px;
}*/

.app-container {
  position: relative;
  overflow: auto;
}

.app-titlebar {
  position: fixed;
  z-index: 1;
  height: 42px;
  top: 0px;
  left: 0px;
  width: 100%;
  background: #445D92;
  color: white;
  border: 1px solid #334B78;
}

.app-sidebar {
  margin-top: 44px;
  width: 250px;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.profile-pane {
  margin-top: 44px;
  margin-left: 50px;
  position: relative;
  float: left;
  /*overflow: auto;*/
}

.profile-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 360px;
  width: auto%;
  background: white;
  border: 1px solid #D4D6DA;
  border-top: 0px;
}

.cover-photo {
  height: 315px;
  /*fix width here*/
}

.profile-pic {
  height: 168px;
  width: 168px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  box-shadow: 0px 0px 1px 0px #000;
}

.profile-img {
  border: 4px solid #fff;
  border-radius: 3px;
}

.profile-tab-bar {
  height: 43px;
  margin-top: 2px;
}

.profile-tabs {
  margin-right: 100px;
  margin-left: 250px;
  display: flex;
  height: 100%;
}

.profile-tab-button {
  border-left: 1px solid #E9EAED;
  display: flex;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
  color: #445D92;

}

.photos-tab {
  border-right: 1px solid #E9EAED;
}

.profile-sidebar {
  float: left;
  margin-top: 385px;
  width: 300px;
  position: relative;
}

.profile-content {
  margin-left: 330px;
  margin-top: 385px;
  width: 500px;
}



.login-input {
  border: 1px solid;
  border-color: #1d2a5b;
  width: 142px;
  padding: 3px;
  margin: 5px;
  background: white;
}

.login-submit {
  background: #4267B2;
  border: 1px solid #29487D;
  padding: 0 13px;
  height: 30px;
  align-self: center;
  border-radius: 3px;
  margin: 5px;
}

.login-button {
  background: none;
  border: 0;
  color: #4b4f56;
  cursor: pointer;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.demo-login-button {
  background: blue;
  color: white;
  border-radius: 10px;
  font-size: 24px;
  padding: 5px;
}

.splash-titlebar {
  height: 50px;
  background: #3B5998;
}

.login-form-container {
  float: right;
}

.logo-container {
  display: flex;
  float: left;
}

.login-form {
  display: flex;
  float: right;
  padding: 10px;
}

.logo-text {
  float: left;
  color: white;
  font-size: 24px;
  padding: 5px;
  padding-left: 15px;
}

.new-user-form-container {
  display: block;
}

.new-user-form {
  display: block;
}


.new-user-input {
  border: 1px solid #bdc7d8;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: white;
}

.signup-submit {
  border: 1px solid;
  padding: 5px;
  float: right;
  border-radius: 5px;
}

.signup-submit:disabled {
  background: red;
}

.long {
  width: 342px;
}

.short {
  width: 60px;
}

.vshort {
  width: 40px;
}

.titlebar-logo {
  float:left
}

.logout-button {
  float: right;
  padding: 5px;
  margin: 6px;
  background: #4D6BAB;
  border: 1px solid #334B78;
  border-radius: 2px;
}

.splash-container {
  display: flex;
  background: #e9ebee
}

.splash-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 60px;
  width: 100%;
}

.splash-logo {
  float: left;
}

.splash-left-pane {
  position: relative;
  flex: 1;
  margin-top: 75px;
}

.splash-right-pane {
  width: 400px;
  position: relative;
  margin-top: 75px;
}

.photo-upload-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.profile-name {
  position: absolute;
  left: 200px;
  bottom: 20px;
  font-size: 36px;
  color: white;
  text-shadow: 0 0 3px rgba(0,0,0,.8);
}

.new-post-form {
  position: relative;;
  top: 0px;
  right: 0px;
  background-color: white;
  border: 1px solid #E5E6E9;
  border-bottom: 1px solid #D0D1D4;
}

.post-form-thumbnail {
  margin-left: 5px;
  float: left;
  margin-top: 5px;
}

.post-form {
  margin-left: 50px;
  margin-right: 45px;
  margin-bottom: 5px;
}

.post-form-input {
  height: 38px;
  border: 1px solid #E9EAED;
  margin-top: 5px;
  width: 100%;
}

.post-form-submit {

}

.timeline-index-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.post-display {
  background: white;
  border: 1px solid #DFE0E2;
}

.comment {
  background: #f6f7f9;
  border: 1px solid #DFE0E2;
  border-bottom: 1px solid #D0D1D4;
  overflow: auto;
  width: 100%;
}

.post-header-pic {
  float: left;
  margin: 12px;
}

.post-text {
  padding: 22px;
}

.post-photo {
  margin-left: 12px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}


.comment-thumbnail {
  float: left;
  margin: 8px;
}

.comment-form {

}

.comment-form-input {
  padding: 7px;
  border: 1px solid #DEDFE2;
  width: 425px;
  margin: 8px;
  margin-left: 0px;
  background: white;
}

.search-bar {
  float: left;
  margin: 9px;
  margin-left: 20px;
  position: relative;
}

.search-dropdown {
  position: absolute;
  top: 34px;
  width: 100%;
  color: black;
  background: white;
  z-index: 1;
  border-radius: 2px;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .40);
}



.search-name {
  padding: 11px;
  float: left;
}

.search-list {
  list-style-type: none;
}

.search-thumbnail {
  float: left;
  margin-left: 4px;
}

.search-dropdown-item {
  overflow: auto;
  width: 100%;
  padding-bottom: 4px;
  padding-top: 4px;
}

.search-dropdown-item:hover {
  background: #EDF0F6
}

.search-form {

}

.search-input {
  background: #fff;
  border-radius: 3px;
  padding: 3px;
  width: 400px;
  color: #000;
}

.request-button-container {
  border: 1px solid black
}

.request-button {
  border: 1px solid black
}

.request-button {

}

.header-friend-button {
  position: absolute;
  bottom: 80px;
  right: 100px;
}

.search-friend-button {
  float: right;
  padding: 10px;
}

.photos-content {
  width: 821px;
  margin-top: 375px;
  background: white;
  display: inline-block;
  padding: 5px;
  border: 1px solid #D4D6DA;
  line-height: 0px;
}

.photo-container {
  border: 1px solid #000;
  display: inline-block;
  width: 261px;
  height: 261px;
  margin: 5px;
  color: transparent;
}

.photo-container:hover {
  color: black;
}

.photo-wall-upload {
  border: 1px solid #000;
  display: inline-block;
  width: 261px;
  height: 261px;
  margin: 5px;
  color: transparent;
  position: relative;
}

.photo-wall-img {

}


.photo-overlay {
  color: inherit;
}
