/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,body,header,nav,h1,a,ul,li,strong,main,button,i,section,img,div,h2,p,form,fieldset,label,input,textarea,span,article,footer,time,small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent
}

body {
  background: #e9ebee
}

div {
  /*margin: 1px;*/
  /*border: 1px solid;*/
  border-color: black;
}


/*input[type="password"], input[type="text"] {
  display: block;
  margin: 2px;
  background: white;
  color: black;
  padding: 4px 5px;
  margin-bottom: 10px;
}*/

.app-container {
  position: relative;
  overflow: auto;
}

.app-titlebar {
  position: absolute;
  height: 50px;
  top: 0px;
  left: 0px;
  width: 100%;
}

.app-sidebar {
  margin-top: 60px;
  width: 250px;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.profile-pane {
  margin-top: 60px;
  margin-left: 50px;
  position: relative;
  float: left;
  overflow: auto;
}

.profile-header {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 360px;
  width: 100%;
}

.cover-photo {
  height: 315px;
  /*fix width here*/
}

.profile-pic {
  height: 168px;
  width: 168px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.profile-tab-bar {
  height: 40px;
  background: white;
}

.profile-tabs {
  margin-right: 100px;
  margin-left: 250px;
  display: flex;
  height: 100%;
  background: white;
}

.profile-tab-button {
  border-left: 1px solid;
  display: flex;
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;

}

.photos-tab {
  border-right: 1px solid;
}

.profile-sidebar {
  float: left;
  margin-top: 385px;
  width: 300px;
  position: relative;
}

.profile-content {
  margin-left: 330px;
  margin-top: 385px;
  width: 500px;
}



.login-input {
  border: 1px solid;
  border-color: #1d2a5b;
  width: 142px;
  padding: 3px;
  margin: 5px;
  background: white;
}

.login-submit {
  background: #4267B2;
  border: 1px solid #29487D;
  padding: 0 13px;
  height: 30px;
  align-self: center;
  border-radius: 3px;
  margin: 5px;
}

.login-button {
  background: none;
  border: 0;
  color: #4b4f56;
  cursor: pointer;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.demo-login-button {
  background: blue;
  color: white;
  border-radius: 10px;
  font-size: 24px;
  padding: 5px;
}

.splash-titlebar {
  height: 50px;
  background: #3B5998;
}

.login-form-container {
  float: right;
}

.logo-container {
  display: flex;
  float: left;
}

.login-form {
  display: flex;
  float: right;
  padding: 10px;
}

.logo-text {
  float: left;
  color: white;
  font-size: 24px;
  padding: 5px;
  padding-left: 15px;
}

.new-user-form-container {
  display: block;
}

.new-user-form {
  display: block;
}


.new-user-input {
  border: 1px solid #bdc7d8;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background: white;
}

.signup-submit {
  border: 1px solid;
  padding: 5px;
  float: right;
  border-radius: 5px;
}

.signup-submit:disabled {
  background: red;
}

.long {
  width: 342px;
}

.short {
  width: 60px;
}

.vshort {
  width: 40px;
}

.titlebar-logo {
  float:left
}

.logout-button {
  float: right;
  padding: 15px;
}

.splash-container {
  display: flex;
  background: #e9ebee
}

.splash-titlebar {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 60px;
  width: 100%;
}

.splash-logo {
  float: left;
}

.splash-left-pane {
  position: relative;
  flex: 1;
  margin-top: 75px;
}

.splash-right-pane {
  width: 400px;
  position: relative;
  margin-top: 75px;
}

.photo-upload-button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.profile-name {
  position: absolute;
  left: 200px;
  bottom: 20px;
  font-size: 36px;
  color: white;
}

.new-post-form {
  position: relative;;
  top: 0px;
  right: 0px;
  background-color: white;
}

.post-form-thumbnail {
  margin-left: 5px;
  float: left;
  margin-top: 5px;
}

.post-form {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 5px;
}

.post-form-input {
  height: 38px;
  border: 1px solid;
  margin-top: 5px;
  width: 100%;
  border-radius: 3px;
}

.post-form-submit {

}
/*.myButton {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.myButton:active {
	position:relative;
	top:1px;
}*/
